@* @model Employee; *@
@* @model stornglytypedView.Models.Employee; single bind garna lai*@ 
@model IEnumerable<stornglytypedView.Models.Employee>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <h2>@Model.Id</h2>
<h2>@Model.Name</h2>
<h2>@Model.Salary</h2> *@


@{
    foreach (var item in Model)
    {
    <h1>@item.Id</h1>
    <h1>@item.Name</h1>
    <h1>@item.Salary</h1>
    <p>---------------</p>

    }


}
